
body{
    border: 0;
    margin: 0;
}
.typing-effect{
    width: 15ch;
    overflow: hidden;
    animation: typing 2s steps(10) infinite alternate-reverse;
}
@keyframes typing {
    from{width: 0ch;}    
}
header{
    overflow: hidden;
    position: sticky;
    top: 0;
}
.nav{
    background-color:black;
    color: white;
   
 }
.logo{
padding-left: 1rem;
}
.box ul{
    margin: 0;
    padding: 0;
}
.content{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
.content h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
}
.box ul li{
    position: absolute;
    width: 1rem;
    height: 2rem;
    list-style: none;
    opacity: 0;
    background: radial-gradient(#7895CB,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 8s linear infinite;
}
.box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
}
.box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 3s;
}
.box ul li:nth-child(4){
    left: 60vw;
    animation-delay: 4s;
}
.box ul li:nth-child(5){
    left: 75vw;
    animation-delay: 2s;
}
.box ul li:nth-child(6){
    left: 55vw;
    animation-delay: 4s;
}
.box ul li:nth-child(7){
    left: 5vw;
    animation-delay: 5s;
}
.box ul li:nth-child(8){
    left: 18vw;
    animation-delay: 4.5s;
}
.box ul li:nth-child(9){
    left: 45vw;
    animation-delay: 6s;
}
.box ul li:nth-child(10){
    left: 77vw;
    animation-delay: 3s;
}
.box ul li:nth-child(11){
    left: 7vw;
    animation-delay: 3s;
}
.box ul li:nth-child(12){
    left: 16vw;
    animation-delay: 5s;
}
.box ul li:nth-child(13){
    left: 33vw;
    animation-delay: 3.8s;
}
.box ul li:nth-child(14){
    left: 88vw;
    animation-delay: 3s;
}
.box ul li:nth-child(15){
    left: 46vw;
    animation-delay: 4.6s;
}

@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(5);
        opacity: 0;
        bottom: 100vh;
    }
}
.content img{
    height: 20rem;
    width: 15rem;
    position: absolute;
    top: 50vh;
    left: 7rem;
    z-index: 1;
}
.sec3,.sec4,.sec5,.sec6 {
    background-color: whitesmoke; 
}
.sec1{
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}
.sec1 h2 ,h3{
    margin: 0.1rem ;
}
.sec1 img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 0.3rem solid #F6FF86;
    margin: 3rem;
    box-shadow: 1rem 0.6rem 2rem #FEFF86 ;
}
.sec2{
    margin-top: 1rem;
}
.about{
    background-color: whitesmoke;
    width: 50%;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 1.1rem 1rem 2rem #BCBFD6;
}
.sec4{
    margin-left: 35.8rem;
    background-color: whitesmoke;
    width: 50%;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 1.1rem 1rem 2rem #BCBFD6;
}
.sec4 img{
    height: 3rem;
    width: 3rem;
    padding: 1rem;
}
