.boxproject {
    position: relative;
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
   
  }
  .contentproject{
    padding: 0;
  }
.boxproject .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(70, 67, 67),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.7s ease-in;
    mix-blend-mode: multiply;
  }
.boxproject:hover .imgBx:before {
    opacity: 1;
  }
.boxproject .contentproject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 1.3rem;
    text-align: center;
    align-items: flex-end;
    box-sizing: border-box;
  }
 .boxproject .contentproject h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
 .boxproject:hover .contentproject h2 {
    transform: translateY(0px);
  }
 .boxproject .contentproject p {
    color: #fff;
    transition: 0.5s;
    font-size: 1rem;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
 .boxproject:hover .contentproject p {
    transform: translateY(0px);
  }