@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
ul{
    list-style: none;
}
li{
    padding: 0 1rem ;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    justify-content: center;
    align-items: center;
}
.content h1{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
}
.flexcol{
    flex-direction: column;
}