ul{
    list-style: none;
}
li{
    padding: 0 1rem ;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    justify-content: center;
    align-items: center;
}
.flexcol{
    flex-direction: column;
}
.flexrow{
    flex-direction: row;
}
.text-center{
    text-align: center;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
table td{
    padding: 0.5rem;
}
.footer{
    height: 5rem;
    color: white;
    background-color: black;
}